.content {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    max-width: 390px;
}
.input_form{
    display: flex;
    width: 100%;
    align-items: center;

}
input{
    margin: 2px;
}
#list_city{
    width: 350px;
}
/*span{*/
/*    width: 350px;*/
/*}*/